<div class="page-width">
  <h1>Admin#home</h1>
  <p>Find me in app/views/admin/home.html.erb</p>
  <div class="links">
    <a href="<%= collections_path %>">Collections</a>
    <a href="<%= products_path %>">Products</a>
    <a href="<%= reservations_path%>">Reservations</a>
  </div>
</div>
