<div class="header__content--container">
  <div class="page-width">
    <div class="flex-center-between">
      <div class="header__logo--container">
        <img src="<%= asset_path('logo.png')  %>" alt="">
      </div>


      <div class="">
        <button class="header__navigation--btn" type="button" name="button">RESERVATION</button>
        <button class="header__navigation--btn" type="button" name="button">MENU</button>
        <button class="header__navigation--btn" type="button" name="button">VIBE</button>
      </div>
  
    </div>
  </div>
</div>
