/*================ Helper Classes ================*/
.clearfix {
  @include clearfix();
}

.visually-hidden {
  @include visually-hidden();
}

.js-focus-hidden:focus {
  outline: none;
}

.label-hidden {
  @include visually-hidden();

  // No placeholders, so force show labels
  .no-placeholder & {
    @include visually-shown();
  }
}

.visually-shown {
  @include visually-shown();
}

// Only show when JS is not supported
.no-js:not(html) {
  display: none;

  .no-js & {
    display: block;
  }
}

// Only show when JS is supported
.js {
  .no-js & {
    display: none;
  }
}

// Only show when browser cookies are not supported
.supports-no-cookies:not(html) {
  display: none;

  html.supports-no-cookies & {
    display: block;
  }
}

// Only show when browser cookies are supported
.supports-cookies {
  html.supports-no-cookies & {
    display: none;
  }
}

/*============================================================================
  Skip to content button
    - Overrides .visually-hidden when focused
==============================================================================*/
.skip-link:focus {
  @include visually-shown(absolute);
  // color: $color-body-text;
  background-color: $color-body;
  padding: $gutter / 2;
  z-index: $z-index-skip-to-content;
  transition: none;
}

// PERSONAL GLOBAL stylesheet

/*@media(max-width: 992px){
  h1{
    font-size: 34px;
  }
  h2{
    font-size: 32px;
  }
  h3{
    font-size: 30px;
  }
  h4{
    font-size: 28px;
  }
}*/
// floats
.float-right{
  float: right;
}
.float-left{
  float: left;
}
// columns
.column-2{
  column-count: 2;
}
.column-3{
  column-count: 3;
}
.column-4{
  column-count: 4;
}
.is-block{
  display: block;
}
.is-inline-block{
  display: inline-block;
}
.open{
  display: block !important;
}
.open-flex{
  display: flex !important;
}
.hidden{
  display: none;
}
.text-underline{
  text-decoration: underline;
}
.nowrap{
  white-space: nowrap;
}
img{
  width: 100%;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}

.transition{
  transition: all ease .3s;
}
.opacity-off{
  opacity: 0;
}
.opacity-on{
  opacity: 1;
}

.width--full{
  width: 100%;
}
.height--full{
  height: 100%;
}
.height--full--view{
  height: 100vh;
}

/*BACKGROUND */
.bg-placeholder{
  background-color: #f5f5f5;
}
.bg-white{
  background-color: #ffffff;
}
.bg-red-orange{
  background-color: #dbc9b3;
}
.bg-yellow{
  background-color: #FED766;
}
.bg-navy{
  background-color: #063042;
}
.bg-grey{
  background-color: #a3a5a7;
}
.bg-light-grey{
  background-color: #f9f9f9;
}
@media(max-width: 991px){
  /*.height--full{
    height: auto;
  }*/
}


.bg-transparent{
  background-color: transparent;
}
// TEXT COLORS
.text-white{
  color: #ffffff;
}
.text-lighter-grey{
  color: #B3B3B3;
}
.text-light-grey{
  color: #696969;
}
.text-medium-grey{
  color: #8d8d8d;
}
.text-dark-grey{
  color: #545454;;
}
.text-black{
  color: #000000;
}
// TEXT size
.text--fine-print{
  font-size: 0.571em;
}
.text--smaller{
  font-size: 0.714em;
}
// 12PX
.text--small{
  font-size: 0.857em;
}
// 13px
.text--semi-small{
  font-size: 0.929em;
}
// 14px
.text--default{
  font-size: 1em;
}
// 16px
.text--medium{
  font-size: 1.143em;
}
// 17px
.text--large{
  font-size: 1.214em;
}
// 18px
.text--semi-large{
  font-size: 1.286em
}
// 20px
.text--extra-large{
  font-size: 1.429em;
}
// TEXT BOLD
.text--reduced{
  font-weight: 100;
}
.text--semibold{
  font-weight: bold;
}
.text--bold{
  font-weight: bolder;
}
/*PADDINGS*/
.padding-none{
  padding: 0;
}
.pleft-15{
  padding-left: 15px;
}

.psides-15{
  padding: 0 15px;
}
.psides-25{
  padding: 0 25px;
}
.psides-30{
  padding: 0 30px;
}
.pleft-15{
  padding-left: 15px;
}
.pleft-20{
  padding-left: 20px;
}
.pleft-30{
  padding-left: 30px;
}
.pleft-32{
  padding-left: 32px;
}
.pright-15{
  padding-right: 15px;
}
.pright-20{
  padding-right: 20px;
}
.pright-30{
  padding-right: 30px;
}
.psides-30{
  padding: 0 30px;
}

.pbot-5{
  padding-bottom: 5px;
}
.pbot-10{
  padding-bottom: 10px;
}
.pbot-15{
  padding-bottom: 15px;
}
.pbot-20{
  padding-bottom: 20px;
}
.pbot-30{
  padding-bottom: 30px;
}

.ptop-15{
  padding-top: 15px;
}
.ptop-20{
  padding-top: 20px;
}
.ptop-30{
  padding-top: 30px;
}
.ptop-48{
  padding-top: 48px;
}
.psides-15{
  padding: 0 15px;
}
.psides-45{
  padding: 0 45px;
}
.padding-15{
  padding: 15px;
}
.padding-30{
  padding: 30px;
}
/*MARGINS*/
.margin-center{
  margin: 0 auto;
}
.margin-none{
  margin: 0 !important;
}
.mtop-0{
  margin-top: 0px;
}
.mtop-10{
  margin-top: 10px;
}
.mtop-15{
  margin-top: 15px;
}
.mtop-16{
  margin-top: 16px;
}
.mtop-25{
  margin-top: 25px;
}
.mtop-30{
  margin-top: 30px;
}
.mtop-40{
  margin-top: 40px;
}
.mtop-50{
  margin-top: 50px;
}
.mtop-80{
  margin-top: 80px;
}
.mbot-0{
  margin-bottom: 0px;
}
.mbot-8{
  margin-bottom: 8px;
}
.mbot-15{
  margin-bottom: 15px;
}
.mbot-18{
  margin-bottom: 18px;
}
.mbot-24{
  margin-bottom: 24px;
}
.mbot-27{
  margin-bottom: 27px;
}
.mbot-30{
  margin-bottom: 30px;
}
.mbot-40{
  margin-bottom: 40px;
}
.mbot-50{
  margin-bottom: 50px;
}
.mbot-60{
  margin-bottom: 60px;
}
.mleft-15{
  margin-left: 15px;
}
.mleft-24{
  margin-left: 24px;
}
.mleft-30{
  margin-left: 30px;
}
.mright-8{
  margin-right: 8px;
}
.mright-12{
  margin-right: 12px;
}
.mright-16{
  margin-right: 16px;
}
.mright-15{
  margin-right: 15px;
}
.mright-30{
  margin-right: 30px;
}


.flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.justify-end{
  justify-content: flex-end;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.justify-around{
  justify-content: space-around;
}
.align-center{
  align-items: center;
}

.is-relative{
  position: relative;
}
.is-absolute{
  position: absolute;
}
.is-fixed{
  position: fixed;
}

.el-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
li{
  list-style: none;
}

.border-none{
  border: 0px;
}
.box-shadow-none{
  box-shadow: none;
}

/*BUTTONS*/
.btn{
  height: 40px;
  border-radius: 5px;
  border-radius: 0;
}
.btn-small{
  width: 150px;
}
// position
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
// HOVER
.hover-pointer{
  cursor: pointer
}
.hover-underline{
  &:hover{
    text-decoration: underline;
  }
}
