<div class="page-width">
  <h1>Products#index</h1>
  <p>Find me in app/views/products/index.html.erb</p>
  <% for product in @products %>
    <%= product.name %>
  <% end %>
  <div class="grid">
    <div class="grid__item one-third">
      ASDF
    </div>
    <div class="grid__item one-third">
      asdfasdf
    </div>
    <div class="grid__item one-third">
      qwereqwers
    </div>
  </div>
</div>
